<h1>People and organisations</h1>

<%= link_to "Create new person", new_person_path %>

<%= search_form_for @search, url: search_parties_path, html: {method: :post} do |f| %>
    <% setup_search_form f %>

    <%= f.label "Gender: " %>
    <%= f.select :gender_eq, ([] << :Any)+ Gender.values %>
    <br/>
    <%= f.label "Residence: " %>
    <%= f.select :base_address_residence_eq, ([] << :Any)+ Residence.values %>

    <!--<fieldset>-->
    <!--<legend>Sorting</legend>-->
    <!--< f.sort_fields do |s| %>-->
    <!--< render 'sort_fields', f: s %>-->
    <!--< end %>-->
    <!--< button_to_add_fields "Add Sort", f, :sort %>-->
    <!--</fieldset>-->

    <!--<fieldset>-->
    <!--<legend>Condition Groups</legend>-->
    <%= f.grouping_fields do |g| %>
        <%= render 'grouping_fields', f: g %>
    <% end %>
    <!--< button_to_add_fields "Add Condition Group", f, :grouping %>-->
    <!--</fieldset>-->

    <!--< label_tag :distinct, 'Return distinct records?' %>-->
    <!--< check_box_tag :distinct, '1', params[:distinct].to_i == 1 %>-->
    <%= f.submit %>
<% end %>

<script type="text/javascript">
    function submitSelectedIds() {
        var result = "";
        $("#searchResults :checkbox:checked").each(function () {
            result = result + this.value + ",";
        });
        $("#selected_ids").val(result);
        $("#addSelectedToGroup").submit();
//        return result;
//        alert(result);
    }
</script>

<!--< render 'results' %>-->
<table id="searchResults">
  <tbody>
  <%= render @parties %>
  </tbody>
</table>


<span class="pageActions">
  <ul>

    <%= form_tag("/people/addSelectedToGroup", :id =>"addSelectedToGroup") do %>
        <%= hidden_field_tag(:selected_ids) %>
        <%= "Add results to group:" %>
        <br/>
        <%= select("groups", "group_id", Group.all.collect { |g| [g.name, g.id] }, {:include_blank => true}) %>
        <br/>
        <!--< submit_tag("Add", :class => "alignRight", :onclick => "submitSelectedIds()") %>-->
        <input type="button" onclick="submitSelectedIds()" value="Add">
        <!--< input_tag("Add", :class => "alignRight", :onclick => "hello()", :type => "button") %>-->
    <% end %>

  </ul>
</span>

<!--< search_form_for @q, :url => search_parties_path,-->
<!--:html => {:method => :post} do |f| %>-->
<!--< f.label :name_cont %>-->
<!--< f.text_field :name_cont %>-->
<!--< f.submit %>-->
<!--< end %>-->

<!--
< will_paginate %>
              -->
<!--<ul class="users">-->
<!--< render @parties %>-->
<!--</ul>-->
<!--
< will_paginate %>
-->