<h1>People and organisations</h1>

<%= link_to "Create new person", new_person_path %>

<p></p>
<h3>Search</h3>

<%= search_form_for @search, url: search_parties_path, html: {method: :post} do |f| %>
    <% setup_search_form f %>

    <%= f.label "Gender: " %>
    <%= f.select :gender_eq, ([] << :Any)+ Gender.values %>
    <br/>
    <%= f.label "Residence: " %>
    <%= f.select :base_address_residence_eq, ([] << :Any)+ Residence.values %>

    <!--<fieldset>-->
    <!--<legend>Sorting</legend>-->
    <!--< f.sort_fields do |s| %>-->
    <!--< render 'sort_fields', f: s %>-->
    <!--< end %>-->
    <!--< button_to_add_fields "Add Sort", f, :sort %>-->
    <!--</fieldset>-->

    <!--<fieldset>-->
    <!--<legend>Condition Groups</legend>-->
    <%= f.grouping_fields do |g| %>
        <%= render 'grouping_fields', f: g %>
    <% end %>
    <!--< button_to_add_fields "Add Condition Group", f, :grouping %>-->
    <!--</fieldset>-->

    <!--< label_tag :distinct, 'Return distinct records?' %>-->
    <!--< check_box_tag :distinct, '1', params[:distinct].to_i == 1 %>-->
    <%= f.submit %>
<% end %>

<script type="text/javascript">
  function stopPropagation(event)
  {
      event.stopPropagation();
  }
    $(document).keypress(function(e) {
        if(e.which == 13) {
            $("#party_search").submit();
        }
    });

    function selectAll() {
        $('.rowResult').prop("checked", true);
    }

    function selectNone() {
        $('.rowResult').prop("checked", false);
    }

    function deleteSelected() {
        if (confirm("Are you sure you want to delete the selected rows?")) {
            var result = "";
            $("#searchResults :checkbox:checked").each(function () {
                result = result + this.value + ",";
            });
            $("#selected_ids_for_delete").val(result);
            $("#deleteSelected").submit();
        }
    }

    function exportSelectedToExcel() {
        var result = "";
        $("#searchResults :checkbox:checked").each(function () {
            result = result + this.value + ",";
        });
        $("#selected_ids_for_export").val(result);
        $("#exportSelectedToExcel").submit();
    }

    function addSelectedToGroup() {
        var result = "";
        $("#searchResults :checkbox:checked").each(function () {
            result = result + this.value + ",";
        });
        $("#selected_ids").val(result);
        $("#addSelectedToGroup").submit();
    }


</script>

<!--< render 'results' %>-->
<table id="searchResults" class="searchResults">
  <tbody>
  <%= render @parties %>
  </tbody>
</table>


<span class="pageActionsLeft">
  <button onclick="selectAll()">Select All</button>
  <button onclick="selectNone()">Select None</button>

  <%= form_tag("/people/deleteSelected", :id => "deleteSelected") do %>
      <%= hidden_field_tag(:selected_ids_for_delete) %>
      <input type="button" onclick="deleteSelected()" value="Delete Selected">
  <% end %>

  <%= form_tag("/people/exportSelectedToExcel", :id => "exportSelectedToExcel") do %>
      <%= hidden_field_tag(:selected_ids_for_export) %>
      <input type="button" onclick="exportSelectedToExcel()" value="Export to Excel">
  <% end %>
</span>

<span class="pageActions">
  <ul>

    <%= form_tag("/people/addSelectedToGroup", :id => "addSelectedToGroup") do %>
        <%= hidden_field_tag(:selected_ids) %>
        <%= "Add results to group:" %>
        <br/>
        <%= select("groups", "group_id", Group.all.collect { |g| [g.name, g.id] }, {:include_blank => true}) %>
        <br/>
        <input type="button" onclick="addSelectedToGroup()" value="Add">
    <% end %>

  </ul>
</span>

<!--< search_form_for @q, :url => search_parties_path,-->
<!--:html => {:method => :post} do |f| %>-->
<!--< f.label :name_cont %>-->
<!--< f.text_field :name_cont %>-->
<!--< f.submit %>-->
<!--< end %>-->

<!--
< will_paginate %>
              -->
<!--<ul class="users">-->
<!--< render @parties %>-->
<!--</ul>-->
<!--
< will_paginate %>
-->