<script type="text/javascript">
    function addressTypeChange() {
        $("#address_type_changed").val($("#addressType option:selected").text());
        $("#createPerson").submit();
    }
</script>

<h1>New Person</h1>

<%= render 'shared/error_messages', :object => @party %>

<% @subtype_name = @party.type.downcase %>
<%= form_for(@party.partyize, :url => '/person/create', :html => {:id =>"createPerson"}) do |form| %>


    <%= hidden_field_tag(:address_type_changed) %>

    <%= render "parties/" << @subtype_name << "_edit" %>

    <b>Staying</b><br/>

    <% type = @party.base_address.type.downcase %>
    Type:
    <select id="addressType" onchange="addressTypeChange()">
      <option value="Street" <%= type == "address" ? 'selected="selected"' : '' %> >Street</option>
      <option value="Residence" <%= type == "res" ? 'selected="selected"' : '' %> >Residence</option>
    </select>


    <%= render "parties/" << @party.base_address.type.downcase << "_edit" %>
    <% @party.party_roles.each { |role| %>
        <% @role = role %>
        <%= render "parties/" << @role.type.downcase << "_edit" %>
    <% } %>
    <% @party.surveys.each { |survey| %>
        <% @survey = survey %>
        <%= render "parties/" << @survey.type.downcase << "_edit" %>
    <% } %>


    <div class="actions">
      <%= form.submit "Create" %>
    </div>

<% end %>

<%= set_form_focus %>
