<h1>Sign in</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>

    <table>

      <tr>
        <td class="formDescription"><%= f.label "Username:" %></td>
        <td><%= f.text_field :username %></td>
      </tr>


      <tr>
        <td class="formDescription"><%= f.label "Password:" %></td>
        <td class="formDescription"><%= f.password_field :password %></td>
      </tr>

      <tr>
        <td></td>
        <td class="formDescription"><%= f.submit "Sign in" %></td>
      </tr>

    </table>
<% end %>

<%= set_form_focus %>
