<div>
  <h1><%= @group.name %> Group</h1>
</div>


<div class = "pageActions">

<%= form_tag sms_group_path(@group) do %>
    <%= text_area_tag(:message, nil, :cols => 25, :rows => 7, :class => "alignRight", :maxlength => "147") %>
      <p class="charsRemaining"></p>
    <%= submit_tag("SMS group", :class => "alignRight") %>
<% end %>
<!-- link_to "Email all members of the #{@group.name} group", email_group_path(@group) -->
</div>

<ul class="users">
  <% @group.parties.each do |person| %>

      <li>
        <%= link_to person.name, party_path(person) %>
        | <%= link_to "remove from group", remove_party_from_group_path(@group, person), :method => :delete, :confirm => "You sure?", :title => "Delete #{person.name} from #{@group.name}" %>
      </li>
  <% end %>
</ul>

<%= limit_textarea %>


