<h1>Create a new user</h1>

  <!--<div id="stylized" class="myform">-->
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
          <%= f.label :username, "Username:" %><br/>
          <%= f.text_field :username %>
        </div>
        <div class="field">
          <%= f.label :password, "Password:" %><br/>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, "Confirmation:" %><br/>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="field">
          <%= f.label :admin, "Administrator:" %><br/>
          <%= f.check_box :admin %>
        </div>

        <div class="actions">
          <td align="right"><%= f.submit "Create" %>
        </div>
        <!--<div class="spacer"></div>-->
    <% end %>
  <!--</div>-->


<%= set_form_focus %>